<div class="card">
        <div class="card-content">
            <div class="card-header">
                <h5 class="card-title">Form {{(usuario.id > 0)? 'Update': 'Create'}} usuario</h5>
            </div>
            <div class="card-body">

                <form (ngSubmit)="onSubmit(usuarioForm)" #usuarioForm="ngForm">

                    <div>
                        <input placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" class="form-control my-2" required
                            #nombre="ngModel">

                        @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
                        @if(nombre.errors!['required']){
                        <div class="text-danger">
                            Nombre es requerido
                        </div>
                        }
                        }
                    </div>
                    <div>
                        <input placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" required
                            class="form-control my-2" #apellido="ngModel">

                        @if (apellido.invalid && (apellido.dirty || apellido.touched)) {
                        @if(apellido.errors!['required']){
                        <div class="text-danger">
                            El apellido es requerido
                        </div>
                        }
                        }
                    </div>

                    <div>
                        <input placeholder="NombreUsuario" name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario"
                            class="form-control my-2" required minlength="8" #nombreUsuario="ngModel">
                        @if (nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)) {
                        @if(nombreUsuario.errors!['required']){
                        <div class="text-danger">
                            El usuario es requerido
                        </div>
                        }
                        @if(nombreUsuario.errors!['minlength']){
                        <div class="text-danger">
                            El usuario debe de tener al menos 8 caracteres!
                        </div>
                        }
                        }
                    </div>
                    <div>
                        <input placeholder="Password" name="password" type="password" [(ngModel)]="usuario.password"
                            class="form-control my-2" required minlength="6" #password="ngModel">
                        @if (password.invalid && (password.dirty || password.touched)) {
                        @if(password.errors!['required']){
                        <div class="text-danger">
                            El password es requerido
                        </div>
                        }
                        @if(password.errors!['minlength']){
                        <div class="text-danger">
                            Password debe de tener al menos 6 caracteres!
                        </div>
                        }
                        }
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary m-2" [disabled]="usuarioForm.invalid">
                            {{(usuario.id > 0)? 'Update': 'Create'}}
                        </button>

                        <button type="button" class="btn btn-secondary my-2" (click)="onClear(usuarioForm)">
                            Clear
                        </button>
                    </div>

                </form>
            </div>

        </div>
</div>